[paths]
source =
    djdocuments
;   src/luzfcb_djdocuments
;   */site-packages/luzfcb_djdocuments

[run]
branch = True
source =
     djdocuments
;    luzfcb_djdocuments
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
