**/{*.min,jquery}.js
src/luzfcb_djdocuments/static/luzfcb_djdocuments/js/vendor/**/*.js
src/djdocuments/static/djdocuments/js/vendor/**/*.js
src/djdocuments/static/luzfcb_djdocuments/js/vendor/**/*.js
node_modules/**.js
