#django==1.9.2
django-spurl==0.6.4
django-simple-captcha==0.5.1
django-braces==1.8.1
python-status==1.0.1
django-autocomplete-light==3.1.5
psycopg2==2.6.1
django-bootstrap-pagination==1.6.1
bleach==1.4.3
django-addanother==2.0
pypng
django-model-utils==2.6.1
django-extra-views==0.9.0


-e git+https://github.com/luzfcb/django-simple-history.git@wip-generic-views2#egg=django-simple-history
-e git+https://github.com/luzfcb/django-simple-history.git@wip-generic-views2#egg=django-simple-history
-e git+https://github.com/luzfcb/luzfcb_dj_simplelock.git@master#egg=luzfcb_dj_simplelock
-e git+https://github.com/maraujop/django-crispy-forms.git@dev#egg=django-crispy-forms
-e git+https://github.com/luzfcb/django-wkhtmltopdf.git@wip-decouple-from-templateview#egg=django-wkhtmltopdf
-e git+https://github.com/luzfcb/pyqrcode.git@base64_png#egg=PyQRCode

# development dependencies
django-test-plus
pytest
pytest-django
pytest-cov
pytest-sugar
gunicorn
dj-database-url
whitenoise
django-debug-toolbar==1.4
splinter==0.7.3
PyVirtualDisplay==0.2
# end development dependencies

