{% extends "luzfcb_djdocuments/documento_assinar_base.html" %}
{% load spurl %}
{% load luzfcb_djdocuments_tags %}

{% block form_section %}
    {% if form %}
        <div class="panel panel-info">
            <div class="panel-heading">Selecione um dos modelos abaixo para criar um novo documento</div>
            <div class="panel-body">
                {% url 'documentos:adicionar_assinantes' slug=document_object.pk_uuid as adicionar_assinantes_url %}

                <form class="form-horizontal" action="{{ adicionar_assinantes_url }}" method="post">
                    <fieldset>
                        {#                        <legend>Tem certeza que deseja assinar o documento "{{ object.titulo|remover_tags_html }}"#}
                        {#                            número: {{ object.identificador_versao }} ?</legend>#}
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        Selecione um dos modelos para criar um novo documento.
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% for form_field in form %}
                            <div class="form-group">
                                <label for="{{ form_field.id_for_label }}"
                                       class="col-sm-2 control-label">{{ form_field.label }}:</label>
                                <div class="col-sm-10">
                                    {{ form_field }}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Adicionar selecionados</button>
                            </div>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>

    {% endif %}




{% endblock form_section %}
{% block js_app %}


    {% if form %}
        {{ form.media }}
    {% endif %}

{% endblock js_app %}



