{% extends "luzfcb_djdocuments/bootstrap3/base.html" %}
{% load staticfiles %}
{% block titulo %}
    Listar Documentos
{% endblock titulo %}



{% block conteudo_app %}
    {{ block.super }}




    <table class="table table-bordered table-striped table-hover">
        <thead>
        Documento: {{ document_object.identificador_versao }}
        <tr>
            <th>#</th>
            <th>Versão do documento</th>
            <th>Defensoria assinantes</th>
            <th>Assinou?</th>
            <th>Assinante</th>
            <th>Data/Hora assinatura</th>
            <th></th>
        </tr>
        </thead>


        <tbody>
        {% if object_list %}
            {% for assinatura in object_list %}
                <tr>
                    <th scope="row"></th>
                    <td>{{ document_object.identificador_versao }}</td>
                    <td>{{ assinatura.grupo_assinante.name }}</td>
                    <td>{% if assinatura.esta_assinado %}<span class="label label-success">Assinado</span>{% else %}<span class="label label-warning">Pendente</span>{% endif %}</td>
                    <td>{% if assinatura.esta_assinado %}{{ assinatura.assinado_nome }}{% else %}-{% endif %}</td>
                    <td>{% if assinatura.esta_assinado %}{{ assinatura.assinado_em }}{% else %}-{% endif %}</td>

                    <td>{% if assinatura.esta_assinado %}-{% else %}<a href="{% url 'documentos:assinar_por_grupo' slug=assinatura.documento.pk_uuid group_id=assinatura.grupo_assinante.pk %}"
                           class="btn btn-sm btn-primary">Assinar</a>{% endif %}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">Não há itens cadastrados</td>
            </tr>

        {% endif %}
        </tbody>


        <tfoot>
        <tr>
            <th>#</th>
            <th></th>
            <th>Defensoria assinantes</th>
            <th>Assinou?</th>
            <th>Assinante</th>
            <th>Data/Hora assinatura</th>
            <th></th>
        </tr>
        </tfoot>
    </table>



{% endblock conteudo_app %}
