{% extends "luzfcb_djdocuments/assinaturas_pendentes_base.html" %}
{% load luzfcb_djdocuments_tags %}
{% load spurl %}
{% load humanize %}
{% load staticfiles %}
{% block titulo %}
    Assinaturas Pendentes
{% endblock titulo %}



{% block conteudo_app %}
    {{ block.super }}

    <table class="table table-bordered table-striped table-hover table-condensed">
        <thead>
        <tr>
            <th>Documento</th>
            <th>Assunto</th>
            <th>Defensoria assinantes</th>
            <th>Solicitante</th>
            <th>Pendende desde</th>
            <th>Ações</th>
        </tr>
        </thead>


        <tbody>
        {% if object_list %}
            {% for dados in dados_processados %}
                <tr>
                    <td>
                        <a href="{{ dados.url_para_visualizar }}"
                           class="btn-link">{{ dados.assinatura.documento.identificador_versao }}</a>
                    </td>
                    <td><a href="{{ dados.url_para_visualizar }}" class="btn-link">{{ dados.assunto }}</a></td>
                    <td>{{ dados.grupo_assinante_nome }}</td>
                    <td>{{ dados.assinatura.nome_cadastrado_por }}</td>
                    <td>{% if dados.esta_assinado %}-{% else %}
                        {{ dados.assinatura.cadastrado_em|naturaltime }}{% endif %}</td>
                    {#                    <td>{% pode_assinar document_object user assinatura.grupo_assinante %}</td>#}

                    <td class="text-center">
                        <div class="btn-group">
                            {% if not dados.esta_assinado %}
                                {% spurl base=dados.url_para_assinar query='next=1' as url_para_assinar_com_next %}
                                {% if dados.pode_assinar %}<a href="{{ url_para_assinar_com_next }}"
                                                              class="btn btn-sm btn-primary">Assinar</a>
                                {% else %}

                                    <button class="btn btn-sm btn-primary" disabled="disabled" readonly="true">
                                        Assinar
                                    </button>
                                {% endif %}
                            {% else %}
                                <span class="label label-success">Assinado</span>
                            {% endif %}
                            <a href="{{ dados.url_para_visualizar }}"
                               class="btn btn-sm">Visualizar</a>
                            <a href="{{ dados.url_lista_assinaturas }}"
                               class="btn btn-sm">Detalhes</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6" class="center-block">
                    <h4>Não há documentos pendentes de assinatura</h4>
                </td>
            </tr>

        {% endif %}
        </tbody>


        <tfoot>
        <tr>
            <th>Documento</th>
            <th>Assunto</th>
            <th>Defensoria assinantes</th>
            <th>Solicitante</th>
            <th>Pendende desde</th>
            <th>Ações</th>
        </tr>
        </tfoot>
    </table>

{% endblock conteudo_app %}




{% block js_app %}
    {{ block.super }}

    {% if form %}
        {{ form.media }}
    {% endif %}

{% endblock js_app %}
