                                    {% csrf_token %}
                                    {% if form.non_field_errors %}
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="alert alert-danger alert-dismissible" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    {% for error in form.non_field_errors %}
                                                        {{ error|escape }}{% if not forloop.last %}<br>{% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% for form_field in form %}
                                      {% if form_field.is_hidden  %}
                                          {{ form_field }}
                                      {% else %}
                                        <div class="form-group {% if form_field.errors %}has-error{% endif %}">
                                            <label for="{{ form_field.id_for_label }}"
                                                   class="col-sm-2 control-label">{{ form_field.label }}-----:</label>
                                            <div class="col-sm-10">
                                                {{ form_field }}

                                                <span id="helpBlock2">
                                                    {% if form_field.errors %}
                                                        {% for error in form_field.errors %}
                                                            <p id="error_{{ forloop.counter }}_{{ form_field.auto_id }}"
                                                               class="help-block">
                                                                <strong>{{ error|escape }}</strong></p>
                                                        {% endfor %}
                                                    {% endif %}
                                                    {% if form_field.help_text %}
                                                        <p id="hint_{{ form_field.auto_id }}"
                                                           class="help-block">{{ form_field.help_text|safe }}</p>
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </div>
                                      {% endif %}
                                    {% endfor %}
