{% extends "luzfcb_djdocuments/documentos_assinados_base.html" %}
{% load luzfcb_djdocuments_tags %}
{% load spurl %}
{% load humanize %}
{% load staticfiles %}
{% block titulo %}
    Assinaturas Pendentes
{% endblock titulo %}



{% block conteudo_app %}
    {{ block.super }}

    <table class="table table-bordered table-striped table-hover table-condensed">
        <thead>
        <tr>
            <th>Documento</th>
            <th>Assunto</th>
            <th>Defensoria assinantes</th>
            <th>Solicitante</th>
            <th>Assinante</th>
            <th>Data/Hora assinatura</th>
            <th>Ações</th>
        </tr>
        </thead>


        <tbody>
        {% if object_list %}
            {% for dados in dados_processados %}
                <tr>
                    <td>
                        <a href="{{ dados.url_para_visualizar }}"
                           class="btn-link djpopup djfullscreen">{{ dados.assinatura.documento.identificador_versao }}</a>
                    </td>
                    <td><a href="{{ dados.url_para_visualizar }}" class="btn-link djpopup djfullscreen">{{ dados.assunto }}</a></td>
                    <td>{{ dados.grupo_assinante_nome }}</td>
                    <td>{{ dados.assinatura.nome_cadastrado_por }}</td>
                    <td>{% if dados.esta_assinado %}{{ dados.assinatura.assinado_nome }}{% else %}-{% endif %}</td>
                    <td>{% if dados.esta_assinado %}{{ dados.assinatura.assinado_em }}{% else %}-{% endif %}</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <a href="{{ dados.url_lista_assinaturas }}"
                               class="btn btn-sm djpopup djfullscreen">Detalhes</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="7" class="center-block">
                    <h4>Não há documentos assinados</h4>
                </td>
            </tr>

        {% endif %}
        </tbody>


        <tfoot>
        <tr>
            <th>Documento</th>
            <th>Assunto</th>
            <th>Defensoria assinantes</th>
            <th>Solicitante</th>
            <th>Assinante</th>
            <th>Data/Hora assinatura</th>
            <th>Ações</th>
        </tr>
        </tfoot>
    </table>

{% endblock conteudo_app %}




{% block js_app %}
    {{ block.super }}

    {% if form %}
        {{ form.media }}
    {% endif %}

{% endblock js_app %}
