{% extends "luzfcb_djdocuments/documentos_prontos_para_finalizar_base.html" %}
{% load luzfcb_djdocuments_tags %}
{% load spurl %}
{% load humanize %}
{% load staticfiles %}
{% block titulo %}
    Documentos não finalizados
{% endblock titulo %}



{% block conteudo_app %}
    {{ block.super }}

    <table class="table table-bordered table-striped table-hover table-condensed">
        <thead>
        <tr>
            <th>Documento</th>
            <th>Assunto</th>
            <th>Assinantes</th>
            <th>Ações</th>
        </tr>
        </thead>


        <tbody>
        {% if object_list %}
            {% for documento_nao_finalizado in documentos_nao_finalizados %}
                <tr>
                    <td>
                        <a href="{{ documento_nao_finalizado.url_para_visualizar }}"
                           class="btn-link djpopup djfullscreen">{{ documento_nao_finalizado.documento.identificador_versao }}</a>
                    </td>
                    <td><a href="{{ documento_nao_finalizado.url_para_visualizar }}" class="btn-link djpopup djfullscreen">{{ documento_nao_finalizado.documento.assunto }}</a></td>
                    <td>
                        {% for assinado_nome, grupo_assinante_nome in documento_nao_finalizado.documento.assinates_nomes %}
                            <ul>
                                <li>{{ assinado_nome }} - {{ grupo_assinante_nome }}</li>
                            </ul>

                        {% endfor %}

                    </td>
                    <td class="text-center">
                        <div class="btn-group">
                            <a href="{{ documento_nao_finalizado.url_para_finalizar }}"
                               class="btn btn-sm btn-primary djpopup djfullscreen">Finalizar</a>
                            <a href="{{ documento_nao_finalizado.url_lista_assinaturas }}"
                               class="btn btn-sm djpopup djfullscreen">Detalhes</a>
                        </div>
                    </td>


                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4" class="center-block">
                    <h4>Não há documentos assinados</h4>
                </td>
            </tr>

        {% endif %}
        </tbody>


        <tfoot>
        <tr>
            <th>Documento</th>
            <th>Assunto</th>
            <th>Assinantes</th>
            <th>Ações</th>
        </tr>
        </tfoot>
    </table>

{% endblock conteudo_app %}




{% block js_app %}
    {{ block.super }}

    {% if form %}
        {{ form.media }}
    {% endif %}

{% endblock js_app %}
