{% extends "luzfcb_djdocuments/bootstrap3/base.html" %}
{% load staticfiles %}
{% load spurl %}
{% load luzfcb_djdocuments_tags %}

{% block extra_head_css %}
    <link href="{% static 'luzfcb_djdocuments/css/luzfcb_page_style.css' %}"
          rel="stylesheet">
    <link href="{% static 'luzfcb_djdocuments/css/luzfcb_document_format_styles_print.css' %}"
          rel="stylesheet">
    <style>
        @media screen {
            .spinner {
                display: inline-block;
                opacity: 0;
                width: 0;

                -webkit-transition: opacity 0.25s, width 0.25s;
                -moz-transition: opacity 0.25s, width 0.25s;
                -o-transition: opacity 0.25s, width 0.25s;
                transition: opacity 0.25s, width 0.25s;
            }

            .has-spinner.active {
                cursor: progress;
            }

            .has-spinner.active .spinner {
                opacity: 1;
                width: auto; /* This doesn't work, just fix for unkown width elements */
            }

            .has-spinner.btn-mini.active .spinner {
                width: 10px;
            }

            .has-spinner.btn-small.active .spinner {
                width: 13px;
            }

            .has-spinner.btn.active .spinner {
                width: 16px;
            }

            .has-spinner.btn-large.active .spinner {
                width: 19px;
            }

        }
        .msg-browser-print {
            display: none;
        }
        @media print {
        {% if not is_pdf %}
            .documento-cabecalho, .documento-rodape, .documento-assinaturas, .documento-conteudo {
                display: none;
            }
            .msg-browser-print {
                display: block;
            }
        {% endif %}
        }

    </style>
{% endblock %}

{% block title %}{{ object.assunto|remover_tags_html|slugify|slice:":180" }}_
    {{ object.identificador_versao }}{% endblock title %}

{% block project_name %}SOLAR{% endblock project_name %}
{% if is_pdf %}
    {% block navbar_pricipal %}
    {% endblock navbar_pricipal %}
{% endif %}
{% block navbar_botoes %}
    <li class="active">
        <p class="navbar-btn">
            {% if url_imprimir_pdf %}
                <a href="{{ url_imprimir_pdf }}"
                   class="btn btn-default djpopup nolock hidden-print print-this has-spinner"><span class="spinner"><i
                        class="icon-spin icon-refresh"></i></span>Imprimir</a>
            {% endif %}
            {% if url_para_assinar %}
                <a class="btn btn-default djpopup nolock" href="{{ url_para_assinar }}">Assinar</a>
            {% endif %}
            {% if url_para_finalizar %}
                <a class="btn btn-default djpopup nolock"
                   href="{{ url_para_finalizar }}">Finalizar</a>
            {% endif %}
            {% if menu_assinaturas %}
                <a class="btn btn-default djpopup nolock" href="{% url 'documentos:assinaturas' slug=object.pk_uuid %}">Assinaturas</a>
            {% endif %}
            {% if url_criar_modelo_apartir_deste %}
                <a class="btn btn-default djpopup nolock djfullscreen"
                   href="{{ url_criar_modelo_apartir_deste }}">Criar Modelo</a>
            {% endif %}
        </p>
    </li>

{% endblock %}



{% block conteudo_app %}
    {% url 'documentos:validar' as validar_url_view %}
    {% spurl base=validar_url_view query="h={{ object.get_assinatura_hash_upper_limpo }}" as validar_url %}
    <div class="row center-block conteudo" id="conteudo">
        <div class="a4-pagina">
            {% if not is_pdf %}
                <h3 class="msg-browser-print">
                    Por favor, utilize o botão "Imprimir" acima
                </h3>
            {% endif %}
            <div class="documento">
                {% block cabecalho %}
                    <div class="documento-cabecalho">
                        <div align="center">
                            {{ object.cabecalho|safe }}
                        </div>
                        {#                        {{ object.assunto|safe }}#}
                        <hr class="borda-dupla">
                    </div>
                {% endblock cabecalho %}


                {% block corpo %}
                    {% if object %}
                        <div class="documento-conteudo">
                            {{ object.conteudo|safe }}
                        </div>
                        {% if object.esta_assinado %}
                            <div class="documento-assinaturas">
                                <hr class="assinantes-borda">
                                {% for assinatura in assinaturas %}
                                    {% if assinatura.esta_assinado %}
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <div style="height:47px;width:75px;">
                                                        <img src="{% static 'luzfcb_djdocuments/img/assinatura_digital4_inkscape2_LOSSLESS.png' %}"
                                                             style="max-height:47px;max-width:75px;display:block;margin:0 auto;">
                                                    </div>
                                                </td>
                                                <td>
                                                    <p style="margin:0;text-align: left; font-size:11pt;font-family: Times New Roman;">
                                                        {% if object.esta_assinado %}
                                                            Documento assinado eletronicamente por
                                                            <b>{{ assinatura.assinado_nome }}</b>,
                                                            em {{ assinatura.assinado_em|date:"d/m/Y H:m:s" }}, conforme
                                                            art.
                                                            1º,
                                                            III,
                                                            "b", da Lei 11.419/2006.</p>
                                                        {% endif %}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <hr class="assinantes-borda">
                                    {% endif %}
                                {% endfor %}

                            </div>
                        {% endif %}
                    {% else %}
                        Nada para mostrar
                    {% endif %}

                {% endblock corpo %}


                {% block rodape %}
                    <div class="documento-rodape">
                        <hr class="borda-dupla">
                        {% if object.esta_assinado %}

                            <table>
                                <tbody>
                                <tr>
                                    {#                                    <td style="width: 200px; height: 105px">#}
                                    <td>
                                        {% if object.esta_assinado %}
                                            <a id="url_validacao" class="hidden-print-href"
                                               href="{{ validar_url|absolute_uri:request }}">
                                                <div id="codigo_qr" class="codigo-qr">
                                                    {{ qr_code_validation_html_img_tag|safe }}
                                                </div>
                                                <p class="hidden-print">Verifique a Validade</p>
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <p style="margin:4;text-align: left; font-size:11pt;font-family: Times New Roman;">
                                            {% if object.esta_assinado %}


                                                A autenticidade do documento pode ser conferida no site
                                                {{ validar_url_view|absolute_uri:request|urlize }} informando o código
                                                verificador:
                                                <div style="text-align: center;">
                                                    <span><b>{{ object.get_assinatura_hash_upper_limpo|dividir_a_cada:10 }}</b></span>
                                                </div>
                                            {% endif %}
                                        </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        {% else %}

                        {% endif %}

                        <hr class="borda-dupla">
                        <table border="0" cellpadding="2" cellspacing="0" style="width:100%">
                            <tbody>
                            <tr>
                                <td>
                                    {{ object.identificador_versao }}
                                </td>
                                <td style="text-align:right">
                                    {% block numero_pagina %}
                                    {% endblock numero_pagina %}
                            </tr>
                            </tbody>
                        </table>

                    </div>
                {% endblock rodape %}
            </div>
        </div>
    </div>
{% endblock conteudo_app %}

{% block js_app %}

    <iframe id="iframeprint" style="display: none;"></iframe>
    <script>
        jQuery(document).ready(function ($) {
            function print(element, url) {
                {#                var iframe_novo = '<iframe id="iframeprint" src="' + url + '" frameborder="0"></iframe>';#}

                $(element).removeClass('active').addClass('active');
                $(element).attr('disabled');
                var iframeId = 'iframeprint';
                var $iframe = $('iframe#iframeprint');
                {#                $iframe = $(iframe_novo);#}
                console.log($iframe);
                console.log(url);
                $iframe.attr('src', url);
                $iframe.on('load', function () {
                    $(element).removeClass('active');
                });

                $iframe.load(function () {
                    callPrint(iframeId);
                    console.log('load');

                });
            }

            //initiates print once content has been loaded into iframe
            function callPrint(iframeId) {
                var PDF = document.getElementById(iframeId);
                PDF.focus();
                PDF.contentWindow.print();
            }

            $(".print-this").click(function (evt) {
                evt.preventDefault();
                var url = $(this).prop('href');
                print(this, url);
                {#                return false;#}
            });
        });
    </script>
    <script src="{% static 'luzfcb_djdocuments/js/luzfcb_djdocuments.js' %}"></script>
{% endblock js_app %}
