{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>SOLAR - Defensoria Pública do Estado do Tocantins</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <meta name="author" content="diti">
    <!-- google font -->
    <!-- <link href="http://fonts.googleapis.com/css?family=Aclonica:regular" rel="stylesheet" type="text/css"/> -->
    <!-- styles -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet">
    <link href="{% static "css/stilearn.css" %}" rel="stylesheet">
    <link href="{% static "css/stilearn-responsive.css" %}" rel="stylesheet">
    <link href="{% static "css/stilearn-helper.css" %}" rel="stylesheet">
    <link href="{% static "css/stilearn-icon.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
    <link href="{% static "css/animate.css" %}" rel="stylesheet">
    <link href="{% static "css/uniform.default.css" %}" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    {% block app_css %}
    {% endblock app_css %}
    {% block extra_head_js %}
    {% endblock extra_head_js%}
</head>
<body>
<!-- section header -->
<header class="header" data-spy="affix" data-offset-top="0">
    <!--nav bar helper-->
    <div class="navbar-helper">
        <div class="row-fluid">
            <!--panel site-name-->
            <div class="span3">
                <div class="panel-sitename">
                    <h2><a href="#">SOLAR</a></h2>
                </div>
            </div>
            <!--/panel name-->
        </div>
    </div>
    <!--/nav bar helper-->
</header>
<!-- section content -->
<section class="section">
    <div class="container">
        <div class="signin-form row-fluid">
            {% if messages %}
                <div class="span6 offset3">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% elif form.errors %}
                <div class="span6 offset3">
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Nome de usuário ou senha inválido, corrija-os e tente novamente
                    </div>
                </div>
            {% endif %}
            <!--Sign In-->
            <div class="span8 offset2">
                <div class="box corner-all">
                    <div class="box-header grd-green color-white corner-top">
                        <span>Histórico de Modificações:</span>
                    </div>
                    <div class="box-body bg-white">
                        {% block conteudo_app %}{% endblock conteudo_app %}
                    </div>
                </div>
            </div>
            <!--/Sign In-->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</section>
<!-- javascript ================================================== -->
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
{% block js_app %}{% endblock js_app %}

</body>
</html>
