{% extends "luzfcb_djdocuments/documento_create_base.html" %}
{% load spurl %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load luzfcb_djdocuments_tags %}

{% block form_section %}
    {#    {% if form %}#}

    <div class="panel panel-info">
        <div class="panel-heading">Criar Modelo de Documento</div>
        <div class="panel-body">
            {% spurl base=form_action add_query="{{ vinculate_view_kwarg }}" add_query="{{ vinculate_value_kwarg }}" as document_create_url %}

            <form class="form-horizontal" action="{{ document_create_url }}" method="post">
                <fieldset>
                    <legend>
                        <span>Selecione um dos modelos abaixo para criar um novo modelo de documento</span>
                    </legend>
                    {% csrf_token %}
                    <style>

                    </style>

                    {% bootstrap_form form layout="horizontal" %}
                    {% bootstrap_form_errors form layout="horizontal" %}
{#                    {% bootstrap_button "Criar" button_type="submit" button_class="btn-primary" %}#}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Criar</button>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>

    {#    {% else %}#}
    {#        sem formaluario#}
    {#    {% endif %}#}




{% endblock form_section %}
{% block js_app %}


    {% if form %}
        {{ form.media }}
    {% endif %}

{% endblock js_app %}


