{% extends "luzfcb_djdocuments/bootstrap3/base.html" %}
{% load staticfiles %}
{% load spurl %}
{% load luzfcb_djdocuments_tags %}

{% block extra_head_css %}
    <link href="{% static 'luzfcb_djdocuments/css/luzfcb_page_style.css' %}"
          rel="stylesheet">
    <link href="{% static 'luzfcb_djdocuments/css/luzfcb_document_format_styles_print.css' %}"
          rel="stylesheet">

    <style>

        @media screen {
            .spinner {
                display: inline-block;
                opacity: 0;
                width: 0;
                -webkit-transition: opacity 0.25s, width 0.25s;
                -moz-transition: opacity 0.25s, width 0.25s;
                -o-transition: opacity 0.25s, width 0.25s;
                transition: opacity 0.25s, width 0.25s;
            }

            .has-spinner.active {
                cursor: progress;
            }

            .has-spinner.active .spinner {
                opacity: 1;
                width: auto; /* This doesn't work, just fix for unkown width elements */
            }

            .has-spinner.btn-mini.active .spinner {
                width: 10px;
            }

            .has-spinner.btn-small.active .spinner {
                width: 13px;
            }

            .has-spinner.btn.active .spinner {
                width: 16px;
            }

            .has-spinner.btn-large.active .spinner {
                width: 19px;
            }
        }

        .msg-browser-print {
            display: none;
        }

        @media print {
        {% if not is_pdf %}
            .documento-cabecalho, .documento-rodape, .documento-assinaturas, .documento-conteudo {
                display: none;
            }
            .msg-browser-print {
                display: block;
            }
        {% endif %}
            .left-menu {
                display: none;
            }

            body {
                padding-top: 0px;
            }
        }

        #documento_dados {
            color: #ffffff;
        }

    .btn {
        margin-top:  5px;
        margin-left: 3px;
    }
    </style>
{% endblock %}

{% block title %}
    {{ object.assunto|remover_tags_html|slugify|slice:":180" }}_
    {{ object.identificador_versao }}
{% endblock title %}


{% block navbar_pricipal %}

    {% if user.is_authenticated and not no_nav %}
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="row" id="documento_dados">
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">{% nome_sistema %}</a>
                            </div>
                            {% if object.eh_modelo %}
                                <div class="col-md-4">
                                    <span><strong>Documento Modelo: {{ object.identificador_versao }}</strong></span>
                                </div>
                                <div class="col-md-4">
                                    <span><strong>Tipo:</strong> {{ object.tipo_documento }}</span>
                                </div>
                                <span><strong>Descrição:</strong> {{ object.modelo_descricao|safe }}</span>
                            {% endif %}
                        </div>

                        <div class="col-md-4">
                            <div class="btn-group" role="group">
                                {% if object.esta_assinado_e_finalizado %}
                                    <div class="col-md-4">
                                        <div class="navbar-btn">
                                            <a href="{{ url_imprimir_pdf }}"
                                               class="btn btn-default djpopup nolock hidden-print print-this has-spinner"
                                               type="button">Imprimir</a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="navbar-btn">
                                            <a href="{{ object.get_pdf_url }}" target="_blank" class="btn btn-default" type="button">Download</a>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="col-md-4">
                                    <div class="navbar-btn">
                                        <a href="{{ url_criar_modelo_apartir_deste }}" class="btn btn-default djpopup nolock djfullscreen" type="button">Criar Modelo</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </nav>
    {% endif %}
    {% if not object.eh_modelo and no_nav and status %}
      <nav class="navbar-fixed-top no-print">
        {% if object.possui_assinatura_pendente == 0 %}
          <span class="label label-danger">Ainda não possui assinantes vinculados</span>
        {% elif object.possui_assinatura_pendente == 1 and object.esta_pronto_para_assinar %}
          <span class="label label-warning">Possui assinaturas pendentes</span>
        {% elif not object.esta_pronto_para_assinar %}
          <span class="label label-info">Em edição</span>
        {% elif object.pronto_para_finalizar %}
          <span class="label label-success">Pronto para Finalizar</span>
        {% else %}
          <span class="label label-success">Assinado e Finalizado</span>
        {% endif %}
      </nav>

    {% endif %}

{% endblock %}

{% block conteudo_app %}
    {% url 'documentos:validar' as validar_url_view %}
    {% spurl base=validar_url_view query="h={{ object.get_assinatura_hash_upper_limpo }}" as validar_url %}
    <div class="row">
        {% if user.is_authenticated and not no_nav %}
            {% block left-menu %}
                <div class="col-md-4 ">
                    <div class="left-menu">
                        <div class="panel panel-default">
                            <div id="doc_dados" class="panel panel-heading">
                                {% if not object.eh_modelo %}
                                    <p>
                                        <b>Situação:</b>
                                        {% if object.possui_assinatura_pendente == 0 %}
                                            <span class="label label-danger">Ainda não possui assinantes cadastrados</span>
                                        {% elif object.possui_assinatura_pendente == 1 and object.esta_pronto_para_assinar %}
                                          <span class="label label-warning">Possui assinaturas pendentes</span>
                                        {% elif not object.esta_pronto_para_assinar %}
                                          <span class="label label-info">Em edição</span>
                                        {% elif object.pronto_para_finalizar %}
                                            <span class="label label-success">Pronto para Finalizar</span>
                                        {% else %}
                                            <span class="label label-success">Assinado e Finalizado</span>
                                        {% endif %}
                                    </p>
                                {% endif %}
                                <p><b>Assunto:</b> {{ object.assunto }}</p>
                                <p><b>Documento:</b> {{ object.identificador_versao }}</p>
                                <p><b>Grupo Dono:</b> {{ object.grupo_dono }}</p>
                                <p><b>Tipo:</b> {{ object.tipo_documento }}</p>
                                <p>
                                    <small>
                                        <b>Criado por </b>
                                        <span role="button"
                                          data-container="#popover-modelo"
                                          data-toggle="popover"
                                          data-trigger="focus"
                                          data-content="{{ object.criado_por_nome }}">{{ object.criado_por }}
                                        </span>
                                        <b>em</b> {{ object.criado_em|date:'d/m/Y H:i' }}
                                    </small>
                                </p>
                                <p>
                                    <small>
                                        <b>Alterado por </b>
                                        <span role="button"
                                          data-container="#popover-modelo"
                                          data-toggle="popover"
                                          data-trigger="focus"
                                          data-content="{{ object.modificado_por_nome }}">{{ object.modificado_por }}
                                        </span>
                                         <b>em</b> {{ object.modificado_em|date:'d/m/Y H:i' }}
                                    </small>
                                </p>
                            </div>
                            <div class="panel-body">
                                <div id="acoes">
                                    {% if pode_editar and not object.esta_pronto_para_assinar %}
                                        <div class="alert alert-info">
                                          <b>Liberar para assinatura:</b> clique em Editar e em seguida no botão "Liberar para assinatura".
                                        </div>
                                        <a href="{{ object.get_edit_url }}" class="btn btn-sm btn-primary">
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                            Editar
                                        </a>
                                    {% elif pode_editar and object.esta_pronto_para_assinar %}
                                        <a href="{{ object.get_pronto_para_assinar_url }}"
                                           class="btn btn-sm btn-primary"
                                           data-ajaxmodal="true"
                                           data-ajaxmodal-prefetch="true"
                                        ><span
                                                class="glyphicon glyphicon-pencil"
                                                aria-hidden="true"></span> Desbloquear para edição
                                        </a>
                                    {% endif %}
                                    {% if object.pronto_para_finalizar %}
                                        <a href="{{ object.get_finalizar_url }}"
                                           class="btn btn-sm btn-primary"
                                           data-ajaxmodal="true"
                                           data-ajaxmodal-prefetch="true"
                                        ><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                                            Finalizar
                                        </a>
                                    {% endif %}
                                    {% if pode_adicionar_assinantes %}
{#                                        <small class="pull-right">#}
                                            <a
                                                    href="{{ object.get_adicionar_assinante_url }}"
                                                    data-ajaxmodal="true"
                                                    data-ajaxmodal-prefetch="true"
                                                    class="btn btn-sm btn-primary adicionar_assinantes"
                                                    {#                                                data-toggle="modal"#}
                                                    {#                                                data-target=".adicionar_assinantes_modal"#}
                                            >
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                                Adicionar assinantes
                                            </a>
{#                                        </small>#}
                                    {% endif %}
                                </div>
                                {% if not object.eh_modelo %}
                                    {% if object.esta_assinado_e_finalizado %}
                                        <div id="assinado_e_finalizado">
                                            <hr>
                                            <!--If documento finalizado e com código de validacao -->
                                            <h4><b>Finalização</b></h4>
                                            <h4 class="text-center">
                                <span class="label label-success">
                                    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                                    Documento finalizado
                                </span>
                                            </h4>
                                            <p>
                                                <small>
                                                    <b>Codigo de validação:</b>
                                                </small>
                                            </p>
                                            <p>
                                                <small>
                                            <span class="glyphicon glyphicon-qrcode text-primary"
                                                  aria-hidden="true"></span>
                                                    <a href="{{ validar_url|absolute_uri:request }}" class=""
                                                       target="_blank"
                                                       rel="noopener noreferrer">
                                                        {{ object.get_assinatura_hash_upper_limpo|dividir_a_cada:10 }}
                                                    </a>
                                                </small>
                                            </p>
                                        </div>
                                        <!--Fim If documento finalizado e com código de validacao -->
                                    {% endif %}

                                    <hr>
                                    <div id="sua_assinatura">

                                        {% regroup assinaturas_pendentes_dos_meus_grupos by grupo_assinante_nome as minhas_assinaturas_pendentes %}
                                        {% for minha in minhas_assinaturas_pendentes %}

                                            {% if forloop.first %}
                                              <h4><b>Pendentes</b></h4>
                                            {% endif %}

                                            <ul class="list-unstyled">
                                                <li>
                                                    <strong>
                                                        {{ minha.grouper }}:
                                                    </strong>
                                                    <ul class="list-unstyled">
                                                        {% for assinatura in minha.list %}
                                                            <li>
                                                                {% if assinatura.assinado_nome %}
                                                                    {{ assinatura.assinado_nome }}
                                                                {% else %}
                                                                    <span style="opacity: 0.0;">----</span>
                                                                {% endif %}
                                                                {% if object.esta_pronto_para_assinar %}
                                                                  <div class="pull-right">
                                                                    <div class="btn-group btn-group-xs" role="group">

                                                                        <a href="{{ assinatura.get_url_para_assinar }}"
                                                                           data-ajaxmodal="true"
                                                                           data-ajaxmodal-prefetch="true"
                                                                           class="btn btn-info" type="button">
                                                                            <em class="glyphicon glyphicon-edit"></em>
                                                                            Assinar
                                                                        </a>
                                                                        {% if eh_ultimo_pendente %}
                                                                        <a href="{{ assinatura.get_url_para_assinar_e_finalizar }}"
                                                                           data-ajaxmodal="true"
                                                                           data-ajaxmodal-prefetch="true"
                                                                           class="btn btn-primary" type="button">
                                                                            <em class="glyphicon glyphicon-edit"></em>
                                                                            Assinar e Finalizar
                                                                        </a>
                                                                        {% endif %}
                                                                        {% if pode_remover_assinantes and not assinatura.esta_assinado and not assinatura.grupo_assinante_id == object.grupo_dono_id %}
                                                                            <a href="{{ assinatura.get_url_para_remover }}"
                                                                               data-ajaxmodal="true"
                                                                               data-ajaxmodal-prefetch="true"
                                                                               class="btn btn-danger" type="button">
                                                                                <span tabindex="0"
                                                                                      role="button"
                                                                                      data-container="#popover-modelo"
                                                                                      data-toggle="popover"
                                                                                      data-trigger="focus"
                                                                                      data-content="Remover assinante">
                                                                                    <em class="glyphicon glyphicon-trash"></em>
                                                                                </span>
                                                                            </a>
                                                                        {% endif %}
                                                                    </div>

                                                                </div>
                                                                {% endif %}
                                                            </li>

                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            </ul>

                                        {% endfor %}
                                        <!--Fim  If uma de minhas defensorias tem assinatura pendente -->
                                        {% regroup assinaturas_realizadas_dos_meus_grupos by grupo_assinante_nome as minhas_assinaturas %}
                                        {% for minha in minhas_assinaturas %}
                                            {% if forloop.first %}
                                                <strong>Realizadas:</strong>

                                            {% endif %}
                                            <ul class="list-unstyled">
                                                <li>
                                                    <strong>
                                                        {{ minha.grouper }}
                                                    </strong>
                                                    <ul class="list-unstyled">
                                                        {% for assinatura in minha.list %}
                                                            <li>
                                                                {% if assinatura.esta_assinado %}
                                                                  <span class="label label-success">Assinado</span>
                                                                  <small class="text-muted">
                                                                    por <span tabindex="0" class=""
                                                                                       role="button"
                                                                                       data-container="#popover-modelo"
                                                                                       data-toggle="popover"
                                                                                       data-trigger="focus"
                                                                                       data-content="{{ assinatura.assinado_nome }}"
                                                                  >{{ assinatura.assinado_por.username }}</span>
                                                                    em {{ assinatura.assinado_em|date:'d/m/Y H:i' }}
                                                                  </small>

                                                                {% else %}
                                                                    {#                                                               <span class="label label-danger">Pendente</span>#}
                                                                   <small class="text-muted">
                                                                   {{ assinatura.assinado_nome }}
                                                                  </small>
                                                                {% endif %}

                                                                {% if pode_remover_assinantes and not assinatura.esta_assinado %}
                                                                    <div class="pull-right">
                                                                      <div  class="btn-group btn-group-xs" role="group">
                                                                            <a href="{{ assinatura.get_url_para_remover }}"
                                                                               data-ajaxmodal="true"
                                                                               data-ajaxmodal-prefetch="true"
                                                                               class="btn btn-danger" type="button">
                                                                                <span tabindex="0"
                                                                                      role="button"
                                                                                      data-container="#popover-modelo"
                                                                                      data-toggle="popover"
                                                                                      data-trigger="focus"
                                                                                      data-content="Remover assinante">
                                                                                    <em class="glyphicon glyphicon-trash"></em>
                                                                                </span>
                                                                            </a>
                                                                      </div>
                                                                    </div>
                                                                {% endif %}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            </ul>

                                            <!-- fim  If minha assinatura está ok -->
                                        {% endfor %}
                                        {% regroup assinaturas_outros by grupo_assinante_nome as assinaturas_dos_outros %}
                                        {% for minha in assinaturas_dos_outros %}
                                            {% if forloop.first %}
                                                <hr>
                                                <div>
                                                <h4><b>Demais assinantes</b>
                                                    <small class="pull-right">
                                                        {#                                                <a href="#">Ver detalhes</a>#}
                                                    </small>
                                                </h4>
                                                <div>
                                            {% endif %}

                                        <ul class="list-unstyled">
                                            <li>
                                                <strong>
                                                    {{ minha.grouper }}:
                                                </strong>
                                                <ul class="list-unstyled">
                                                    {% for assinatura in minha.list %}
                                                        <li>
                                                            {% if assinatura.esta_assinado %}
                                                                <span class="label label-success">Assinado</span>
                                                                  <small class="text-muted">
                                                                    por <span tabindex="0" class=""
                                                                                       role="button"
                                                                                       data-container="#popover-modelo"
                                                                                       data-toggle="popover"
                                                                                       data-trigger="focus"
                                                                                       data-content="{{ assinatura.assinado_nome }}"
                                                                  >{{ assinatura.assinado_por.username }}</span>
                                                                    em {{ assinatura.assinado_em|date:'d/m/Y H:i' }}
                                                                  </small>
                                                            {% else %}
                                                                <span class="label label-danger">Pendente</span>
                                                              <small class="text-muted">
                                                                {{ assinatura.assinado_nome }}
                                                              </small>
                                                            {% endif %}

                                                            {% if pode_remover_assinantes and not assinatura.esta_assinado %}
                                                                    <div class="pull-right">
                                                                      <div  class="btn-group btn-group-xs" role="group">
                                                                            <a href="{{ assinatura.get_url_para_remover }}"
                                                                               data-ajaxmodal="true"
                                                                               data-ajaxmodal-prefetch="true"
                                                                               class="btn btn-danger" type="button">
                                                                                <span tabindex="0"
                                                                                      role="button"
                                                                                      data-container="#popover-modelo"
                                                                                      data-toggle="popover"
                                                                                      data-trigger="focus"
                                                                                      data-content="Remover assinante">
                                                                                    <em class="glyphicon glyphicon-trash"></em>
                                                                                </span>
                                                                            </a>
                                                                      </div>
                                                                    </div>
                                                            {% endif %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        </ul>


                                        {% if forloop.first %}
                                            </div>

                                            </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>

                                {% endif %}
                                <hr>
                                <h4><b>Histórico de Alterações</b></h4>
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th><small>Versão</small></th>
                                      <th><small>Data/Hora</small></th>
                                      <th><small>Usuário</small></th>
                                    </tr>
                                  </thead>
                                  {% for versao in object.versoes.all %}
                                  <tr>
                                    <td><small>{{ versao.versao_numero }}</small></td>
                                    <td><small>{{ versao.history_date|date:'d/m/Y H:i' }}</small></td>
                                    <td>
                                      <small role="button"
                                        data-container="#popover-modelo"
                                        data-toggle="popover"
                                        data-trigger="focus"
                                        data-content="{{ versao.history_user.get_full_name }}">{{ versao.history_user }}
                                      </small>
                                    </td>
                                  </tr>
                                  {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock left-menu %}
        {% endif %}
        {# Inicio do conteudo do documento #}
        <div class="col-md-8" style="margin-bottom: 40px">

            <!-- Conteudo previsualizacao -->

            <!-- Quando documento for modelo -->
            {% if object.eh_modelo and not is_pdf %}
                <div class="text-center">
                    <h4>
                        <span class="label label-warning"><span class="glyphicon glyphicon-duplicate"
                                                                aria-hidden="true"></span> Documento Modelo</span>
                    </h4>
                </div>
            {% endif %}
            <!-- FimQuando documento for modelo -->


            <div class="row center-block conteudo" id="conteudo">
                <div class="a4-pagina">
                    {% if not is_pdf %}
                        <h3 class="msg-browser-print">
                            Por favor, utilize o botão "Imprimir" acima
                        </h3>
                    {% endif %}
                    <div class="documento">
                        {% block cabecalho %}
                            <div class="documento-cabecalho">
                                <div align="center">
                                    {{ object.cabecalho|safe }}
                                </div>
                                {#                        {{ object.assunto|safe }}#}
                                <hr class="borda-dupla">
                            </div>
                        {% endblock cabecalho %}


                        {% block corpo %}
                            {% if object %}
                                <div class="documento-conteudo">
                                    {{ object.conteudo|safe }}
                                </div>
                                {% if object.esta_assinado %}
                                    <div class="documento-assinaturas">
                                        <hr class="assinantes-borda">
                                        {% if object.conteudo_assinaturas %}
                                          {{ object.conteudo_assinaturas|safe }}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% else %}
                                Nada para mostrar
                            {% endif %}

                        {% endblock corpo %}

                        {% block rodape %}
                            <div class="documento-rodape">

                                {% if object.rodape_qr_validacao %}
                                  {{ object.rodape_qr_validacao|safe }}
                                {% endif %}

                                <hr class="borda-dupla">
                                <table border="0" cellpadding="2" cellspacing="0" style="width:100%">
                                    <tbody>
                                    <tr>
                                        <td>
                                            {{ object.identificador_versao }}
                                        </td>
                                        <td style="text-align:right">
                                            {% block numero_pagina %}
                                            {% endblock numero_pagina %}
                                    </tr>
                                    </tbody>
                                </table>
                                {% if object.rodape %}
                                  <hr class="borda-dupla">
                                  {{ object.rodape|safe }}
                                {% endif %}
                            </div>
                        {% endblock rodape %}
                    </div>
                </div>
            </div>

            <!-- Quando documento for modelo -->
            {% if object.eh_modelo and not is_pdf %}
                <div class="text-center">
                    <h4>
                        <span class="label label-warning"><span class="glyphicon glyphicon-duplicate"
                                                                aria-hidden="true"></span> Documento Modelo</span>
                    </h4>
                </div>
            {% endif %}
            <!-- FimQuando documento for modelo -->


            <!-- Fim Conteudo previsualizacao -->


        </div>
        {# Final do conteudo do documento #}
    </div>
    <div id="popover-modelo">

    </div>

{% endblock conteudo_app %}

{% block js_app %}

    <iframe id="iframeprint" style="display: none;"></iframe>
    <script src="{% static 'luzfcb_djdocuments/js/luzfcb_djdocuments.js' %}"></script>
    <script type="application/javascript">
        $(function () {
            var popovers = $('[data-toggle="popover"]');
            popovers.popover();
            popovers.on("mouseenter", function () {
                var self = $(this);
                self.popover('show');
            });
            popovers.on("mouseout", function () {
                var self = $(this);
                self.popover('hide');
            });
        });
    </script>
    <!--<iframe id="iframeprint" style="display: none;"></iframe>-->
    <script>
        jQuery(document).ready(function ($) {
            function print(element, url) {
                $(element).removeClass('active').addClass('active');
                $(element).attr('disabled');
                var iframeId = 'iframeprint';
                var $iframe = $('iframe#iframeprint');
                console.log($iframe);
                console.log(url);
                $iframe.attr('src', url);
                $iframe.on('load', function () {
                    $(element).removeClass('active');
                });
                $iframe.load(function () {
                    callPrint(iframeId);
                    console.log('load');
                });
            }
            //initiates print once content has been loaded into iframe
            function callPrint(iframeId) {
                var PDF = document.getElementById(iframeId);
                PDF.focus();
                PDF.contentWindow.print();
            }
            $(".print-this").click(function (evt) {
                evt.preventDefault();
                var url = $(this).prop('href');
                print(this, url);
            });
        });
    </script>

{% endblock js_app %}
