{% extends "luzfcb_djdocuments/documento_list_base.html" %}
{% load django_tables2 %}
{% load luzfcb_djdocuments_tags %}
{% load spurl %}
{% load humanize %}
{% load staticfiles %}


{% block conteudo_app %}
    {{ block.super }}

    <div class="box-tab corner-all">
        <div class="box-header corner-top">
            <ul class="nav nav-pills">
                <!--tab menus-->
                <li class="active">
                    <a data-toggle="tab"
                       href="#modelos_de_documento">Documentos
                    </a>
                </li>
                {#                <li class=""><a data-toggle="tab"#}
                {#                                href="#ultimos_documentos_nao_finalizados">Ultimos {{ mostrar_ultimas }} documentos não#}
                {#                    finalizados</a>#}
                {#                </li>#}
            </ul>
        </div>
        <div class="box-body">
            <div id="tables2test">
                {% render_table table %}
            </div>

            <!-- widgets-tab-body -->
{#            <div class="tab-content">#}
{#                <div class="tab-pane fade active in" id="modelos_de_documento">#}
{#                    <div class="pull-right actions-m18">#}
{#                        <a href="{% url 'documentos:pendentes' %}"#}
{#                           class="btn btn-sm btn-success">Ver todas as Assinaturas Pendentes</a>#}
{#                    </div>#}
{#                    <div id="tb_modelos">#}
{#                        <table class="table table-bordered table-striped table-hover table-condensed">#}
{#                            <thead>#}
{#                            <tr>#}
{#                                <th>Documento</th>#}
{#                                <th>Tipo</th>#}
{#                                <th>Grupo</th>#}
{#                                <th>Assunto</th>#}
{#                                <th>Criado em</th>#}
{#                                <th>Modificado em</th>#}
{#                                <th>Ações</th>#}
{#                            </tr>#}
{#                            </thead>#}
{##}
{##}
{#                            <tbody>#}
{#                            {% if dados_processados %}#}
{#                                {% for dado in dados_processados %}#}
{#                                    <tr>#}
{#                                        <td>#}
{#                                            <a href="{{ dado.url_para_visualizar }}"#}
{#                                               class="btn-link">{{ dado.documento.identificador_versao }}</a>#}
{#                                        </td>#}
{#                                        <td>#}
{#                                            {{ dado.documento.tipo_documento }}#}
{#                                        </td>#}
{#                                        <td>#}
{#                                            {{ dado.documento.grupo_dono }}#}
{#                                        </td>#}
{#                                        <td>#}
{#                                            {{ dado.documento.assunto }}#}
{#                                        </td>#}
{#                                        <td>#}
{#                                            {{ dado.documento.criado_em }}#}
{#                                        </td>#}
{#                                        <td>#}
{#                                            {{ dado.documento.modificado_em }}#}
{#                                        </td>#}
{#                                        <td class="text-center">#}
{#                                            <div class="btn-group">#}
{#                                                   {% spurl base=dado.url_para_visualizar add_query="no_nav=1" as url_para_visualizar_com_query %}#}
{#                                                <a href="{{ url_para_visualizar_com_query }}"#}
{#                                                   class="btn btn-sm btn-primary djpopup">Visualizar</a>#}
{#                                                <a href="{{ dado.url_para_editar }}"#}
{#                                                   class="btn btn-sm btn-primary djpopup">Editar</a>#}
{#                                            </div>#}
{#                                        </td>#}
{##}
{##}
{#                                    </tr>#}
{#                                {% endfor %}#}
{#                            {% else %}#}
{#                                <tr>#}
{#                                    <td colspan="4" class="center-block">#}
{#                                        <h4>Todos os documentos estão finalizados</h4>#}
{#                                    </td>#}
{#                                </tr>#}
{##}
{#                            {% endif %}#}
{#                            </tbody>#}
{##}
{##}
{#                            <tfoot>#}
{#                            <tr>#}
{#                                <th>Documento</th>#}
{#                                <th>Tipo</th>#}
{#                                <th>Grupo</th>#}
{#                                <th>Assunto</th>#}
{#                                <th>Criado em</th>#}
{#                                <th>Modificado em</th>#}
{#                                <th>Ações</th>#}
{#                            </tr>#}
{#                            </tfoot>#}
{#                        </table>#}
{##}
{#                    </div>#}
{##}
{#                </div>#}
                {#                <div class="tab-pane fade" id="ultimas_assinaturas_realizadas">#}
                {#                    <div class="pull-right actions-m18">#}
                {#                        <a href="{% url 'documentos:assinados' %}"#}
                {#                           class="btn btn-sm btn-success">Ver todas as Assinaturas Realizadas</a>#}
                {#                    </div>#}
                {##}
                {##}
                {#                </div>#}
{##}
{##}
{#            </div>#}
            <!--/widgets-tab-body-->
        </div>
    </div>

{% endblock conteudo_app %}

{% block js_app %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "luzfcb_djdocuments/js/luzfcb_djdocuments.js" %}"></script>
{% endblock js_app %}
