{% extends "luzfcb_djdocuments/documento_create_base.html" %}
{% load staticfiles %}
{% load spurl %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load luzfcb_djdocuments_tags %}

{% block form_section %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">Selecione um dos modelos abaixo para criar um novo documento</div>
                <div class="panel-body">
                    {% if is_popup %}
                        {% spurl base=form_action add_query="{{ vinculate_view_kwarg }}" add_query="{{ vinculate_value_kwarg }}" add_query="_popup=1" as document_create_url %}
                    {% else %}
                        {% spurl base=form_action add_query="{{ vinculate_view_kwarg }}" add_query="{{ vinculate_value_kwarg }}" as document_create_url %}
                    {% endif %}

                    <form class="form-horizontal" action="{{ document_create_url }}" method="post">
                        <fieldset>
                            <legend>
                                <span>Selecione um dos modelos abaixo para criar um novo modelo de documento</span>
                            </legend>
                            {% csrf_token %}

                            {% bootstrap_form form layout="horizontal" %}
                            {% bootstrap_form_errors form layout="horizontal" %}
                            <div class="form-group">
                                <div class="col-sm-offset-10 col-sm-10">
                                    <button type="submit" class="btn btn-success">Criar</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>


                </div>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <strong class="text-info">Pré-visualizar </strong>
            <iframe id="iframeview" frameborder="0" width="100%" height="450" class="iframe_style">
            </iframe>
        </div>
    </div>




{% endblock form_section %}
{% block js_app %}
    <script type="text/javascript" src="{% static 'django_js_reverse/js/reverse.js' %}"></script>
    <script src="{% url 'js_reverse' %}" type="text/javascript"></script>

    {% if form %}
        {{ form.media }}
    {% endif %}


    <script type="application/javascript">

        $(document).ready(function () {
            var ifm = $('#iframeview');
            var preview_fields = $('[data-preview]');

            function empty(str) {
                return !!(typeof str == 'undefined' || !str || str.length === 0 || str === "" || !/[^\s]/.test(str) || /^\s*$/.test(str) || str.replace(/\s/g, "") === "");
            }

            function carregar_iframe(el, pk) {
                if (pk != null) {
                    var view_name = '';
                    if(el.attr('not-is-model')){
                        view_name = 'documentos:validar-detail';
                    }else {
                        view_name = 'documentos:validar-detail-modelo';
                    }
                    var url_to_load = Urls['' + view_name +''](pk);
                    console.log('url:' + url_to_load);
                    ifm.prop('src', url_to_load + '?no_nav=1');

                }
                else {
                    ifm.prop('src', '');
                }
            }

            preview_fields.change(function () {
                var pk = $(this).val();
                carregar_iframe($(this), pk);
            });

            ifm.load(function () {
                console.log('carregando iframe...');
                $('#iframeview').contents().find("head").append(
                        "<style>" +
                        "body{" +
                        "zoom: 0.8;" +
                        "-moz-transform: scale(0.8);" +
                        "-moz-transform-origin: 0 0;" +
                        "-o-transform: scale(0.8);" +
                        "-o-transform-origin: 0 0;" +
                        "-webkit-transform: scale(0.8);" +
                        "-webkit-transform-origin: 0 0;" +
                        "}</style>");
            });
            preview_fields.each(
                    function () {
                        var pk = $(this).val();
                        if (!empty(pk) || ! pk == '---------') {

                            carregar_iframe($(this), pk);
                        }
                    }
            )
        });
    </script>
{% endblock js_app %}


