<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% block css_app %}
    {% endblock css_app %}
    {% block extra_head_js %}
    {% endblock extra_head_js %}
    <script src="{% static 'luzfcb_dj_simplelock/js/jquery-2.2.0.min.js' %}"></script>
</head>
<body>


{% block conteudo_app %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if form and object %}
        <h3>Tem certeza que deseja assinar o documento {{ object.assunto }} {{ object.identificador_versao }}</h3>
        {% crispy form %}
    {% endif %}

{% endblock conteudo_app %}




{% block js_app %}

    <div class="form-media">
        {% if form %}
{#                        {{ form.media }}#}
        {% endif %}
    </div>
{% endblock js_app %}

<div class=""></div>
</body>
</html>
