{% extends "luzfcb_djdocuments/painel_geral_modelos_base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load luzfcb_djdocuments_tags %}
{% load spurl %}


{% block conteudo_app %}

    {% block cabecalho_pag %}

        <div class="page-title">
            <div class="pull-right">
                <small>
                    <a href="#" rel="popover" data-trigger="hover" data-html="true" data-placement="top"
                       data-content="<b>Novo Modelo:</b> Opção para criar modelos personalizados para uma das defensorias que seu usuário ({{ user.username }}) está vinculado"
                       data-original-title="Novo Modelo de documento">
                        <i class="elusive-question-sign color-blue"></i>
                    </a>
                </small>
                <span>
                    <a href="{% url 'documentos:criar_modelo' %}"
                       class="btn btn-primary djpopup djfullscreen">
                        <i class="icon-plus-sign icon-white"></i> Novo Modelo
                    </a>
{#                     <a href="{% url 'documentos:criar_tipo_documento' %}"#}
{#                       class="btn btn-primary djpopup djfullscreen" rel="tooltip" data-placement="bottom"#}
{#                       title="" data-original-title="Novo Tipo de Documento">#}
{#                        <i class="icon-plus-sign icon-white"></i> Novo Tipo#}
{#                    </a>#}
                </span>
            </div>
            <h3 class="pull-left">
                <i class="helper-font-24 icofont-copy color-yellow"></i>
                Modelos de documentos
                <small>
                    <a href="#" rel="popover" data-trigger="hover" data-html="true" data-placement="top"
                       data-content="<b>Modelo de Documentos:</b> Documentos de modelo que foram e podem ser criados para uma das defensorias que seu usuário ({{ user.username }}) está vinculado, e são utilizados para gerar outros documentos."
                       data-original-title="Modelo de Documentos">
                        <i class="elusive-question-sign color-blue"></i>
                    </a>
                </small>
            </h3>
            <form action="{{ search_url }}" method="get" id="search_field"
                  >
                <div class="controls pull-right">
                    <div class="input-icon-append" style="margin-right:28px;margin-top:1px;">
                        <span class="bold">Buscar: </span>
                        <span class="icon"><i class="icofont-search"></i></span>
                        <input name="q" class="grd-white" maxlength="30" type="text"
                               placeholder="Número ou Descrição...">
                    </div>
                </div>
            </form>

        </div>
    {% endblock %}
    {#    {% paginate object_list %}#}
    {% block conteudo_pag %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="span1">N° Documento</th>
                <th class="span3">Descrição</th>
                <th class="span3">Tipo</th>
                <th class="span3">Defensoria</th>
                <th class="span1">Criado por</th>
{#                <th class="span1">Modificado por</th>#}
                <th class="span1">Data edição</th>
                <th class="span1">Ações</th>
            </tr>
            </thead>
            <tbody id="tbody-more" class="endless_page_template">
            <!-- tbody content -->

            {% for dado in object_list %}
                <tr>
                    <td>
                        {% spurl base=dado.get_preview_url add_query="no_nav=1" as url_para_visualizar_com_query %}
                        <i class="icofont-copy  color-yellow"></i>
                        <a href="{{ url_para_visualizar_com_query }}" class="btn-link">
                            {{ dado.identificador_versao }}
                        </a>
                    </td>
                    <td>
                        <small>
                            {{ dado.modelo_descricao }}
                        </small>
                    </td>
                    <td>
                        <small>
                            {{ dado.tipo_documento }}
                        </small>
                    </td>
                    <td>
                        <small rel="tooltip" data-original-title="{{ dado.grupo_dono }}">
                            {{ dado.grupo_dono|truncatechars:36 }}
                        </small>
                    </td>
                    <td>
                        <small rel="tooltip" data-original-title="{{ dado.criado_por_nome }}">
                            {{ dado.criado_por_nome|truncatechars:20 }}
                        </small>
                    </td>
{#                    <td>#}
{#                        <small rel="tooltip" data-original-title="{{ dado.modificado_por_nome }}">#}
{#                            {{ dado.modificado_por_nome|truncatechars:20 }}#}
{#                        </small>#}
{#                    </td>#}

                    <td>
                        <small>
                            {{ dado.modificado_em }}
                        </small>
                    </td>
                    <td>
                        <div>
                            <b href="{{ dado.get_edit_url }}" class="btn-link">
                                <i class="elusive-file-edit"></i> Ativar/Desativar
                            </b>
                            {% spurl base=dado.get_preview_url query='next={{ next_success_url }}' as url_para_visualizar_com_query %}
                            <a href="{{ url_para_visualizar_com_query }}" class="btn-link">
                                <i class="icofont-search"></i> Visualizar
                            </a> |
                            <a href="{{ dado.get_edit_url }}" class="btn-link">
                                <i class="elusive-file-edit"></i> Editar
                            </a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">
                        <div class="alert alert-info text-center">
                            {% if is_query %}
                                <b>Nenhum item encontrado com os termos: {{ is_query|safe }}</b>
                            {% else %}
                                <b>Nenhum Modelo cadastrado</b>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            <!-- end tbody content -->


            </tbody>
            {% if is_query %}
                <tfoot>
                <tr>
                    <td colspan="6">
                        <div class="text-center">
                            <form action="{{ search_url }}" method="get" id="search_field">
                                <input name="q" class="grd-white" type="hidden">
                                <input type="submit" class="btn btn-warning" value="Limpar pesquisa">

                            </form>
                        </div>
                    </td>
                </tr>
                </tfoot>
            {% endif %}
            <tfoot>
            <tr>
                <th class="span1">N° Documento</th>
                <th class="span3">Descrição</th>
                <th class="span3">Tipo</th>
                <th class="span3">Defensoria</th>
                <th class="span1">Criado por</th>
{#                <th class="span1">Modificado por</th>#}
                <th class="span1">Data edição</th>
                <th class="span1">Ações</th>
            </tr>
            </tfoot>
        </table>
        <div class="pagination pagination-right">
            {% include 'luzfcb_djdocuments/_pagination2.html' %}
        </div>



        <div class="col-md-8 col-md-offset-2">
            {% block form_section %}{% endblock %}
        </div>
    {% endblock %}

{% endblock %}

