{% extends "luzfcb_djdocuments/painel_geral_modelos_base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load luzfcb_djdocuments_tags %}
{% load spurl %}
{% load django_tables2 %}


{% block conteudo_app %}

    {% block cabecalho_pag %}
        <div class="page-title">
            <h3 class="pull-left">
                <i class="helper-font-24 icofont-copy color-yellow"></i>
                Modelos de documentos
                <small>
                    <a href="#" rel="popover" data-trigger="hover" data-html="true" data-placement="top"
                       data-content="<b>Modelo de Documentos:</b> Documentos de modelo que foram e podem ser criados para uma das defensorias que seu usuário ({{ user.username }}) está vinculado, e são utilizados para gerar outros documentos."
                       data-original-title="Modelo de Documentos">
                        <i class="elusive-question-sign color-blue"></i>
                    </a>
                </small>
            </h3>
            <h3 class="pull-right">
                <small>
                    <a href="#" rel="popover" data-trigger="hover" data-html="true" data-placement="top"
                       data-content="<b>Novo Modelo:</b> Opção para criar modelos personalizados para uma das defensorias que seu usuário ({{ user.username }}) está vinculado"
                       data-original-title="Novo Modelo de documento">
                        <i class="elusive-question-sign color-blue"></i>
                    </a>
                </small>
                <span>
                    <a href="{% url 'documentos:criar_modelo' %}"
                       class="btn btn-primary djpopup djfullscreen">
                        <i class="icon-plus-sign icon-white"></i> Novo Modelo
                    </a>
{#                     <a href="{% url 'documentos:criar_tipo_documento' %}"#}
{#                       class="btn btn-primary djpopup djfullscreen" rel="tooltip" data-placement="bottom"#}
{#                       title="" data-original-title="Novo Tipo de Documento">#}
{#                        <i class="icon-plus-sign icon-white"></i> Novo Tipo#}
{#                    </a>#}
                </span>
            </h3>
        </div>
    {% endblock %}
    {#    {% paginate object_list %}#}
    {% block conteudo_pag %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="span1">N° Documento</th>
                <th class="span3">Descrição</th>
                <th class="span3">Tipo</th>
                <th class="span3">Defensoria</th>
                <th class="span1">Data edição</th>
                <th class="span1">Ações</th>
            </tr>
            </thead>
            <tbody id="tbody-more" class="endless_page_template">
            <!-- tbody content -->

            {% for dado in object_list %}
                <tr>
                    <td>
                        {% spurl base=dado.get_preview_url add_query="no_nav=1" as url_para_visualizar_com_query %}
                        <i class="icofont-copy  color-yellow"></i>
                        <a href="{{ url_para_visualizar_com_query }}" class="btn-link">
                            {{ dado.identificador_versao }}
                        </a>
                    </td>
                    <td>
                        <small>
                            {{ dado.modelo_descricao }}
                        </small>
                    </td>
                    <td>
                        <small>
                            {{ dado.tipo_documento }}
                        </small>
                    </td>
                    <td>
                        <small rel="tooltip" data-original-title="{{ dado.grupo_dono }}">
                            {{ dado.grupo_dono|truncatechars:36 }}
                        </small>
                    </td>
                    <td>
                        <small>
                            {{ dado.modificado_em }}
                        </small>
                    </td>
                    <td>
                        <div>
                            {% spurl base=dado.get_preview_url query='next={{ next_success_url }}' as url_para_visualizar_com_query %}
                            <a href="{{ url_para_visualizar_com_query }}" class="btn-link">
                                <i class="icofont-search"></i> Visualizar
                            </a> |
                            <a href="{{ dado.get_edit_url }}" class="btn-link">
                                <i class="elusive-file-edit"></i> Editar
                            </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">
                        <div class="alert alert-info text-center">
                            <b>Nenhum modelo cadastrado</b>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            <!-- end tbody content -->


            </tbody>
            <tfoot>
            <tr>
                <th class="span1">N° Documento</th>
                <th class="span3">Descrição</th>
                <th class="span3">Tipo</th>
                <th class="span3">Defensoria</th>
                <th class="span1">Data edição</th>
                <th class="span1">Ações</th>
            </tr>
            </tfoot>
        </table>
        <div class="pagination pagination-right">
            {% include 'luzfcb_djdocuments/_pagination2.html' %}
        </div>



        <div class="col-md-8 col-md-offset-2">
            {% block form_section %}{% endblock %}
        </div>
    {% endblock %}

{% endblock %}

