{% extends 'luzfcb_djdocuments/bootstrap3/base.html' %}
{% load luzfcb_djdocuments_tags %}
{% load staticfiles %}

{% block extra_head_css %}
    <link rel="stylesheet" href="{% static 'luzfcb_djdocuments/js/vendor/izimodal/1.5.0/css/iziModal.css' %}">
{#    <link rel="stylesheet" href="{% static 'luzfcb_djdocuments/js/vendor/tingle/dist/tingle.min.css' %}">#}
    {#    <link rel="stylesheet" href="{% static 'luzfcb_djdocuments/js/vendor/izimodal/1.4.2/css/iziModal.css' %}">#}

{% endblock %}

{% block conteudo_app %}
    <div class="row">
        The first time you click on the button, and the modal is displayed, but the modal does not fit the size of the
        html content was obtained via ajax.
        <br>
        <a href="/docs/d/a12c2382-7352-4988-bffc-50b8ce271e54/adicionar_assinantes/"
           luzfcbmodal="true"
{#           rel="prefetch"#}
           class="btn btn-primary botao-abrir-modal blah">Abrir modal</a>
        {% add_to_named_context 'documento' object %}
        {% for assinatura in object.assinaturas.all %}
            <br>
            {% add_to_named_context 'assinaturas_pendentes' assinatura %}
            {#            <a href="{{ assinatura.get_url_para_assinar }}"#}
            {#               luzfcbmodal="true"#}
            {#               class="btn btn-primary botao-abrir-modal">Abrir modal assinar: {{ assinatura.pk }}</a>#}
        {% endfor %}
        <button luzfcbmodal="true"
                data-luzfcbmodal-url="/docs/d/a12c2382-7352-4988-bffc-50b8ce271e54/adicionar_assinantes/">modal2
        </button>

    </div>


{% endblock %}
{% block js_app %}
    <!-- Modal -->



    <!-- end Modal -->


    <script src="{% static 'luzfcb_djdocuments/js/vendor/izimodal/1.5.0/js/iziModal.js' %}"></script>
    {#    <script src="{% static 'luzfcb_djdocuments/js/vendor/izimodal/1.4.2/js/iziModal.js' %}"></script>#}
    {#    <script src="{% static 'luzfcb_djdocuments/js/vendor/tingle/dist/tingle.js' %}"></script>#}
    <script src="{% static 'luzfcb_djdocuments/js/prefetch_modal.js' %}"></script>
    <script src="{% static 'luzfcb_djdocuments/js/eventListeners.js' %}"></script>
    {#    <div id="named-context">#}
    {#        {% render_named_context 'assinaturas' %}#}
    {#    </div>#}
    <div class="where-to-put-it">

    </div>
    <div id="inseriraqui"></div>
{% endblock %}
