{% extends "luzfcb_djdocuments/documento_validacao_base.html" %}
{% load luzfcb_djdocuments_tags %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block form_section %}
    {% if form %}

        <div class="panel panel-info">
            <div class="panel-heading">Validar Documento</div>
            <div class="panel-body">
                <form class="form-horizontal" action="{% url 'documentos:validar' %}" method="post" id="validate_form">
                    <fieldset>
                        <legend>Digite o código CRC que consta no documento que você quer validar?
                        </legend>
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        Documento não é válido ou o código CRC é incorreto
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="form-group">

                            <label for="{{ form.assinatura_hash.id_for_label }}"
                                   class="col-sm-2 control-label">{{ form.assinatura_hash.label }}</label>
                            <div class="col-sm-10">
                                {{ form.assinatura_hash }}
                                <span id="helpBlock2"
                                      class="help-block">Digite o código CRC que está na parte de baixo do documento</span>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="{{ form.captcha.id_for_label }}"
                                   class="col-sm-2 control-label">{{ form.captcha.label }}</label>
                            <div class="col-sm-10">
                                {{ form.captcha }}
                                <span id="helpBlock2" class="help-block"></span>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <a class="btn btn-mini" onclick="refresh_captcha()"><i class="icon-refresh"></i> trocar
                                    imagem</a>
                                <button type="submit" class="btn btn-success">Verificar validade do Documento</button>
                            </div>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>

    {% endif %}




{% endblock form_section %}
{% block js_app %}
    {{ block.super }}
    {% if form.media %}
        {{ form.media }}
    {% endif %}
    <script src="{% static 'luzfcb_djdocuments/js/vendor/autotab/1.9.2/jquery.autotab.js' %}"></script>
    <script>
        function refresh_captcha() {
            $.getJSON($(this).data('url'), {'refresh_captcha': 1}, function (json) {
                $('img[class="captcha"]').attr('src', json['new_cptch_image']);
                $('#id_captcha_0').val(json['new_cptch_key']);
                $('#id_captcha_1').val('');
            });
        }
        {#        $('input[type=text]:visible').autotab();#}
        var inputs = $('input[type=text]:visible');
        $(inputs).each(function (index, element) {
            if ($(element).attr('pattern') !== undefined) {
                $(element).autotab('filter', {format: 'custom', pattern: '[^0-9a-zA-Z]', uppercase: true});
            }
            else {
                $(element).autotab();
            }
        });

        /**
         * PasteHopAcross jquery plugin
         * Paste across multiple inputs plugin,
         * inspired by http://jsfiddle.net/D7jVR/
         */
        (function ($) {
            jQuery.fn.pastehopacross = function (opts) {
                var focus_on_next_input = true;
                if (!opts) {
                    opts = {}
                }
                if (!opts.regexRemove) {
                    opts.regexRemove = false;
                }
                if (!opts.inputs) {
                    opts.inputs = [];
                }
                if (opts.inputs.length == 0) {
                    //return
                    return $(this);
                }
                if (!opts.next_input) {
                    focus_on_next_input = false
                }

                if (!opts.first_maxlength) {
                    opts.first_maxlength = $(this).attr('maxlength');
                    if (!opts.first_maxlength) {
                        return $(this);
                    }
                }
                var max_chars = 0;
                $(opts.inputs).each(function (index) {
                    max_chars += parseInt($(this).attr('maxlength'), 10);
                });


                $(this).on('paste', function () {

                    //remove maxlength attribute
                    $(this).removeAttr('maxlength');
                    $(this).one("input.fromPaste", function () {
                        var $firstBox = $(this);

                        var pastedValue = $(this).val();
                        if (opts.regexRemove) {
                            pastedValue = pastedValue.replace(opts.regexRemove, "");
                        }

                        var str_pv = pastedValue;
                        $(opts.inputs).each(function () {
                            var pv = str_pv.split('');
                            var maxlength;
                            if ($firstBox.get(0) == this) {
                                maxlength = opts.first_maxlength;
                            }
                            else {
                                maxlength = $(this).attr('maxlength');
                            }
                            if (maxlength == undefined) {
                                //paste them all!
                                maxlength = pv.length;
                            }
                            //clear the value
                            $(this).val('');
                            var nwval = '';
                            for (var i = 0; i < maxlength; ++i) {
                                if (typeof(pv[i]) != 'undefined') {
                                    nwval += pv[i];
                                }
                            }
                            $(this).val(nwval);
                            //remove everything from earlier
                            str_pv = str_pv.substring(maxlength);
                        });

                        //restore maxlength attribute
                        $(this).attr('maxlength', opts.first_maxlength);
                        $(this).focus()
                    });

                    setTimeout(function () {
                        if (focus_on_next_input === true) {
                            opts.next_input.first().focus();
                        }
                    }, 100);
                });


                return $(this);
            }
        })(jQuery);
        $('input[name="assinatura_hash_0"]').pastehopacross({
            regexRemove: /[^\w]/g,
            inputs: $('input[name^="assinatura_hash"]'),
            next_input: $('#id_captcha_1')
        });


    </script>
    {#    <script src="{% static 'luzfcb_djdocuments/js/vendor/parsley/2.3.5/parsley.min.js' %}"></script>#}
{% endblock js_app %}


