{% extends "default.html" %}
{% load staticfiles %}

{% block css_app %}
        {{ block.super }}

    <style>
        .overlay {
            background-color: #e74c3c;
            position: fixed;
            z-index: 120;
            top: 150px;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            display: none;
            overflow: hidden;
            text-align: left;
        }
    </style>
{% endblock css_app %}

{% block left_menu %}

    <li>
        <a href="{% url 'documentos:dashboard' %}" title="">
            <div class="helper-font-24">
                <i class="icofont-group"></i>
            </div>
            <span class="sidebar-text">Documentos Dashboard</span>
        </a>
    </li>
    <li>
        <a href="{% url 'documentos:list' %}" title="">
            <div class="helper-font-24">
                <i class="icofont-group"></i>
            </div>
            <span class="sidebar-text">Documentos List</span>
        </a>
    </li>
    <li>
        <a href="{% url 'documentos:create' %}" title="">
            <div class="helper-font-24">
                <i class="icofont-group"></i>
            </div>
            <span class="sidebar-text">Documentos Create</span>
        </a>
    </li>


{% endblock left_menu %}

{% block js_app %}
    {{ block.super }}
    <script>if (!window.jQuery) {
        document.write('<script src="{% static 'luzfcb_dj_simplelock/js/jquery-2.2.0.min.js' %}"><\/script>');
    }
    </script>
    <script type="text/javascript" src="{% static "luzfcb_djdocuments/js/luzfcb_djdocuments.js" %}"></script>
{% endblock js_app %}
