{% extends "luzfcb_djdocuments/documento_validacao_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block conteudo_app %}

    {% if form %}
        {% crispy form %}

    {% else %}
        Nada para mostrar
    {% endif %}
{% endblock %}

{% block js_app %}
    {{ block.super }}
    {% if form.media %}
        {{ form.media }}
    {% endif %}

    <script>
        function refresh_captcha() {
            $.getJSON($(this).data('url'), {'refresh_captcha': 1}, function (json) {
                $('img[class="captcha"]').attr('src', json['new_cptch_image']);
                $('#id_captcha_0').val(json['new_cptch_key']);
                $('#id_captcha_1').val('');
            });
        }

    </script>
    <script src="{% static 'luzfcb_djdocuments/js/vendor/parsley/2.3.5/parsley.min.js' %}"></script>
{% endblock %}

