{% extends "luzfcb_djdocuments/documento_detail_with_versions_base.html" %}
{% load luzfcb_djdocuments_tags bootstrap_pagination %}




{% block conteudo_app %}
    {{ block.super }}

    <article>


        <div class="no-print">
            {% if history_records_object_list %}
                <div class="list-group ">
                    <ul>
                        {% for history_records_object in history_records_object_list %}
                            <li>
                                <a class="list-group-item"
                                   href="{% url 'documentos:revert' pk=history_records_object.pk %}">
                                    <p class="list-group-item-text">
                                        {{ history_records_object|identificador_versao }} - Criado
                                        por {{ history_records_object.criador_por.username }}
                                        {{ history_records_object }} <span class="badge">Visualizar/restaurar</span>
                                    </p>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                {% if  history_records_is_paginated %}
                    <div class="pagination">
                        <div class="pull-left">
                            Página {{ history_records_page_obj.number }}
                            de {{ history_records_page_obj.paginator.num_pages }}
                        </div>
                        {#                <div class="pagination-right">#}
                        <div class="pagination-centered">
                            <ul>
                                {% if history_records_page_obj.has_previous %}
                                    <li>
                                        <a href="?{{ history_records_page_kwarg }}={{ history_records_page_obj.previous_page_number }}">Anterior</a>
                                    </li>
                                {% else %}
                                    <li class="disabled"><a href="#">Anterior</a></li>
                                {% endif %}
                                {% for page in history_records_page_obj.paginator.page_range %}
                                    {% if page >= history_records_page_obj.number|add:"-2" and page < history_records_page_obj.number %}
                                        <li><a href="?{{ history_records_page_kwarg }}={{ page }}">{{ page }}</a></li>
                                    {% endif %}
                                    {% ifequal history_records_page_obj.number page %}
                                        <li class="active"><a href="#">{{ history_records_page_obj.number }}</a></li>
                                    {% endifequal %}
                                    {% if page <= history_records_page_obj.number|add:"2" and page > history_records_page_obj.number %}
                                        <li><a href="?{{ history_records_page_kwarg }}={{ page }}">{{ page }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if history_records_page_obj.has_next %}
                                    <li>
                                        <a href="?{{ history_records_page_kwarg }}={{ history_records_page_obj.next_page_number }}">Próxima</a>
                                    </li>
                                {% else %}
                                    <li class="disabled"><a href="#">Próxima</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="list-group">
                    Este documento nunca foi modificado
                </div>
            {% endif %}
        </div>
        {#        {% if object %}#}
        {#            <page size="A4">#}
        {#                {{ object.conteudo|safe }}#}
        {#            </page>#}
        {##}
        {#        {% else %}#}
        {#            Nada para mostrar#}
        {#        {% endif %}#}
    </article>

{% endblock conteudo_app %}




