{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% block css_app %}
    {% endblock %}
    {% block extra_head_js %}
    {% endblock extra_head_js %}
</head>
<body>
{% block conteudo_app %}
{% endblock conteudo_app %}

<script>if (!window.jQuery) {
    document.write('<script src="{% static 'luzfcb_djdocuments/js/vendor/jquery/1.11.3/jquery.min.js' %}"><\/script>');
    document.write('<script src="{% static 'luzfcb_djdocuments/js/vendor/jquery/1.11.3/jquery-migrate.min.js' %}"><\/script>');
}
</script>

<script src="{% static 'luzfcb_djdocuments/js/vendor/qrcode/0.12.0/jquery.qrcode.min.js' %}"></script>
<script type="text/javascript" src="{% static "luzfcb_djdocuments/js/autosize.js" %}"></script>
<script>
    {#    autosize(document.querySelectorAll('textarea'));#}
</script>

{% block js_app %}
{% endblock %}


</body>
</html>
