{% extends "luzfcb_djdocuments/documento_assinar_base.html" %}
{% load luzfcb_djdocuments_tags %}



{% block form_section %}
{#    {% if form %}#}

        <div class="panel panel-info">
            <div class="panel-heading">Assinar Documento</div>
            <div class="panel-body">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend>Tem certeza que deseja assinar o documento "{{ object.titulo|remover_tags_html }}"
                            número: {{ object.identificador_versao }} ?
                        </legend>
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        Nome de usuário ou senha inválido, corrija-os e tente novamente.
                                    </div>
                                </div>
                            </div>
                        {% endif %}
{#                        <div class="form-group">#}
{##}
{#                            <label for="{{ form.assinado_por.id_for_label }}"#}
{#                                   class="col-sm-2 control-label">{{ form.assinado_por.label }}</label>#}
{#                            <div class="col-sm-10">#}
{#                                {{ form.assinado_por }}#}
{#                                <span id="helpBlock2"#}
{#                                      class="help-block">Selecione o usuário que irá assinar o documento</span>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <label for="{{ form.password.id_for_label }}"#}
{#                                   class="col-sm-2 control-label">{{ form.password.label }}</label>#}
{#                            <div class="col-sm-10">#}
{#                                {{ form.password }}#}
{#                                <span id="helpBlock2" class="help-block">Digite a senha do usuário selecionado</span>#}
{#                            </div>#}
{##}
{#                        </div>#}
                        {% for form_field in form %}
                            <div class="form-group">
                                <label for="{{ form_field.id_for_label }}"
                                       class="col-sm-2 control-label">{{ form_field.label }}:</label>
                                <div class="col-sm-10">
                                    {{ form_field }}
                                    <span id="helpBlock2" class="help-block">{{ form_field.help_text }}</span>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Assinar Documento</button>
                            </div>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>

{#    {% else %}#}
{#        sem formaluario#}
{#    {% endif %}#}




{% endblock form_section %}
{% block js_app %}


    {% if form %}
        {{ form.media }}
    {% endif %}

{% endblock js_app %}


