{% extends "luzfcb_djdocuments/base.html" %}
{% load staticfiles %}
{% block titulo %}
    Listar Documentos
{% endblock titulo %}



{% block conteudo_app %}
    {{ block.super }}


    {% if object_list %}

        <ul class="list-group">
            {% for object in object_list %}
                <li class="list-group-item">{{ object }} - <a class="btn btn-danger btn-xs djpopup" href="{% url 'documentos:update2' object.pk %}">Editar</a>
                    - {% if object.esta_assinado %}
                        Assinado
                    {% else %}
                        <a href="{% url 'documentos:assinar' object.pk %}">Assinar</a>
                    {% endif %}
                    <a href="{% url 'documentos:imprimir' object.pk %}">Imprimir</a>
                </li>
            {% endfor %}

        </ul>
    {% else %}
        Não há itens cadastrados
    {% endif %}

{% endblock conteudo_app %}
