{% extends "luzfcb_djdocuments/documento_criar_documento_base.html" %}
{% load spurl %}
{% load crispy_forms_tags %}

{% block box_title %}Selecione um dos modelos abaixo para criar um novo documento{% endblock box_title %}
{% block conteudo_app %}
    {% if form %}
        {#        {% crispy form %}#}
        {% url 'documentos:create' as base_document_create_url %}
        {% spurl base=base_document_create_url add_query="{{ vinculate_view_kwarg }}" add_query="{{ vinculate_value_kwarg }}" as document_create_url %}
        <form action="{{ document_create_url }}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="criar">

        </form>
    {% endif %}


{% endblock conteudo_app %}
{% block js_app %}


    {% if form %}
        {{ form.media }}
    {% endif %}

{% endblock js_app %}
