body{
    background-color: rgb(228, 228, 228) !important;
}
.body {
    /*background: rgb(204, 204, 204) !important;*/
    background-color: rgb(228, 228, 228) !important;
}

.maindiv {
    display: none;
}

.form-group {
    margin-bottom: 0 !important;
}

.a4-pagina {
    background: white !important;
    width: 210mm !important;
    /*height: 297mm !important;*/
    display: block !important;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5) !important;
    font-family: "Times New Roman";
    /*padding-top: 5mm;*/
    /*padding-left: 5mm;*/
    /*padding-right: 5mm;*/
    /*padding-bottom: 5mm;*/
    /*font-size: 11pt;*/
    /*line-height: 22pt;*/
}

@media screen {
    /*.conteudo {*/
        /*padding-top: 5em !important;*/
        /*padding-bottom: 20em !important;*/
    /*}*/
}

@media print {
    .no-print {
        visibility: hidden !important;
        display: none !important;
    }

    body {
        background: transparent !important;
        z-index: 0;
    }

    .body {
        background: transparent !important;
        z-index: 0;
    }

    .a4-pagina {
        /*width: 100% !important;*/
        background: transparent !important;
        display: block !important;
        box-shadow: none !important;
        padding: 0 !important;
    }

    .conteudo {
        padding: 0 !important;
    }
}
