.body {
    background: rgb(204, 204, 204) !important;
    font-family: "Times New Roman";
}

.maindiv {
    display: none;
}

.form-group {
    margin-bottom: 0 !important;
}

.a4-pagina {
    background: white !important;
    width: 21cm !important;
    /*height: 29.7cm;*/
    display: block !important;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5) !important;
    padding-top: 2cm;
    padding-left: 2cm;
    padding-right: 2cm;
    padding-bottom: 2cm;
    /*font-size: 11pt;*/
    /*line-height: 22pt;*/
}

@media screen {
    .conteudo {
        padding-top: 5em !important;
        padding-bottom: 20em !important;
    }
}

@media print {
    .no-print {
        visibility: hidden !important;
        display: none !important;
    }

    body {
        background: transparent !important;
        z-index: 0;
    }

    .body {
        background: transparent !important;
        z-index: 0;
    }

    .a4-pagina {
        background: transparent !important;
        display: block !important;
        box-shadow: none !important;
        padding: 0 !important;
    }

    .conteudo {
        padding: 0 !important;
    }
}
