[contenteditable="false"] {
    background-color: rgba(0, 0, 0, 0.15) !important;
}

body {
    word-wrap: break-word;
}

.a4-pagina p.Tabela_Texto_8 {
    font-size: 8pt;
    font-family: Times New Roman;
    text-align: left;
    word-wrap: inherit;
    margin: 0 3pt 0 3pt;
}

.a4-pagina p.Tabela_Texto_Alinhado_Direita {
    font-size: 11pt;
    font-family: Times New Roman;
    text-align: right;
    word-wrap: inherit;
    margin: 0 3pt 0 3pt;
}

.a4-pagina p.Tabela_Texto_Alinhado_Esquerda {
    font-size: 11pt;
    font-family: Times New Roman;
    text-align: left;
    word-wrap: inherit;
    margin: 0 3pt 0 3pt;
}

.a4-pagina p.Tabela_Texto_Centralizado {
    font-size: 11pt;
    font-family: Times New Roman;
    text-align: center;
    word-wrap: inherit;
    margin: 0 3pt 0;
}

.a4-pagina p.Tachado {
    font-size: 11pt;
    font-family: Times New Roman;
    text-indent: 1.18in;
    text-align: justify;
    word-wrap: inherit;
    text-decoration: line-through;
}

.a4-pagina p.Texto_Alinhado_Direita {
    font-size: 12pt;
    font-family: Times New Roman;
    text-align: right;
    word-wrap: inherit;
    margin: 6pt;
}

.a4-pagina p.Texto_Alinhado_Esquerda {
    font-size: 12pt;
    font-family: Times New Roman;
    text-align: left;
    word-wrap: inherit;
    margin: 6pt;
}

.a4-pagina p.Texto_Alinhado_Esquerda_Espaçamento_Simples {
    font-size: 12pt;
    font-family: Times New Roman;
    text-align: left;
    word-wrap: inherit;
    margin: 0;
}

.a4-pagina p.Texto_Centralizado {
    font-size: 12pt;
    font-family: Times New Roman;
    text-align: center;
    word-wrap: inherit;
    margin: 6pt;
}

.a4-pagina p.Texto_Centralizado_Maiusculas {
    font-weight: bold;
    font-size: 13pt;
    font-family: Times New Roman;
    text-align: center;
    text-transform: uppercase;
    word-wrap: inherit;
}

.a4-pagina p.Texto_Citação {
    font-size: 10pt;
    font-family: Times New Roman;
    word-wrap: inherit;
    margin: 4pt 0 4pt 1.18in;
    text-align: justify;
}

.a4-pagina p.Texto_Ementa {
    font-size: 10pt;
    font-family: Times New Roman;
    text-align: justify;
    word-wrap: inherit;
    margin: 4pt 0 4pt 3.14in;
}

.a4-pagina p.Texto_Justificado {
    font-size: 12pt;
    font-family: Times New Roman;
    text-align: justify;
    word-wrap: inherit;
    text-indent: 0;
    margin: 6pt;
}

.a4-pagina p.Texto_Justificado_Recuo_Primeira_Linha {
    font-size: 12pt;
    font-family: Times New Roman;
    text-indent: 1.18in;
    text-align: justify;
    word-wrap: inherit;
    margin: 6pt;
}

.a4-pagina p.Texto_Mono_Espaçado {
    font-size: 8pt;
    font-family: Courier New;
    text-align: left;
    white-space: pre;
    word-wrap: inherit;
    margin: 2pt;
}
